.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: var(--purpura-medianoche);
    color: white;
    border-bottom: 2px solid var(--ambar-cafeto);
}

.logo {height: 40px; }

.titulo {
    font-family: var(--fuente-titulo);
    color: var(--sol-tenue);
    font-size: 1.2rem;
    margin: 0;
}

.menu {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

.menu a {
    color: white;
    text-decoration: none;
}